.flex-container{
  display: flex;
}

.sim {
  width: 600px;
  height: 400px;
  border: 1px solid lightgray;
}

.player-container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  width: 100px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid lightgray;
  width: 200px;
}

.p1 {
  background-color: red;
}

.p2 {
  background-color: blue;
}

.p3 {
  background-color: green;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  flex: 1;
}

.cards-img {
  margin: 5px;
  width: 50px;
  height: 80px;
  align-self: flex-start;
}

.controls-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100px;
}

.button {
  background: #f3f0f1;
  position: relative;
  background: #f3f0f1;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  span {
      line-height: 100px;
      font-family: "Montserrat", sans-serif;
      font-size: 32px;
      font-weight: semibold;
    }
}
